@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

html, body {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  background-image: url(../imgs/noise.png);
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-family: 'Oswald', sans-serif;
}

nav {
  margin-bottom: 920px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: black;
}

ul {
  list-style: none;
  margin: 0;
  width: 35%;
  margin-left: 32.5%;
  margin-right: 32.5%;
  padding: 0;
}

li {
  display: inline-flex;
  margin-left: 2.6%;
  margin-right: 2.6%;
}

a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase; 
  font-size: 30px; 
}

h6 {
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}

/*This is for the image that moves based on the cursor*/
.wrap {
  height: 400px;
  position: relative;
  overflow: hidden;
  border-top: 2px solid #29FFBE;
  border-bottom: 2px solid #29FFBE;
}

.wrap .bgone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../imgs/footerimgs-assets/pinkmountainsfoot.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrap .bgtwo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../imgs/footerimgs-assets/japanesefoot.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrap .bgthree {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../imgs/footerimgs-assets/lightfoot.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrap .bgfour {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../imgs/footerimgs-assets/sidestreetfoot.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*This is end of the image that moves based on the cursor*/

/*This is the code that creates the main bg video*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

#fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
}
/*This is the end of the code that creates the main bg video*/

/*This is the code that creates the other videos*/
.fullscreen-bg-second {
  position: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

#fullscreen-bg__video-second {
  position: block;
  top: 0;
  left: 0;
  margin-bottom: -5px;
}
/*This is the end of the code that creates the other videos*/


/*This is the back to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #E830B8;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 9px 30px 0px rgba(41,255,190,1);
  -moz-box-shadow: 0px 9px 30px 0px rgba(41,255,190,1);
  box-shadow: 0px 9px 30px 0px rgba(41,255,190,1);
  transition: background-color .5s, box-shadow .5s;
}

#myBtn:hover {
  background-color: #29FFBE;
  -webkit-box-shadow: 0px 9px 30px 0px rgba(232,48,184,1);
  -moz-box-shadow: 0px 9px 30px 0px rgba(232,48,184,1);
  box-shadow: 0px 9px 30px 0px rgba(232,48,184,1);
}
/*The end of the back to top button*/

/*The main div that holds the the text or information*/
.main {
  background-color: #E830B8;
  padding-top: 100px;
  padding-bottom: 100px;
}
/*The end of the main div that holds the the text or information*/

/*This creates the code for the "floatin" boxes of information*/
.firstfloatingbox {
  width: 100%;
  margin-left: 10%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  -moz-box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #751a5e;
  padding: 15px;
  transition: box-shadow .5s, border-radius .5s, border .5s;
}

.firstfloatingbox:hover,
.firstfloatingbox:active {
    -webkit-box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    -moz-box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    border-radius: 51px 51px 51px 51px;
    -moz-border-radius: 51px 51px 51px 51px;
    -webkit-border-radius: 51px 51px 51px 51px;
    border: 4px solid #29FFBE;
}

.leftfloatingbox {
  width: 100%;
  margin-left: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  -moz-box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #751a5e;
  padding: 15px;
  transition: box-shadow .5s, border-radius .5s, border .5s;
}

.leftfloatingbox:hover,
.leftfloatingbox:active {
    -webkit-box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    -moz-box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    border-radius: 51px 51px 51px 51px;
    -moz-border-radius: 51px 51px 51px 51px;
    -webkit-border-radius: 51px 51px 51px 51px;
    border: 4px solid #29FFBE;
}

.rightfloatingbox {
  width: 100%;
  margin-left: 1000px;
  margin-top: 10%;
  text-align: right;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  -moz-box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  box-shadow: 0px 10px 102px 5px rgba(117,26,94,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #751a5e;
  padding: 15px;
  transition: box-shadow .5s, border-radius .5s, border .5s;
}

.rightfloatingbox:hover,
.rightfloatingbox:active {
    -webkit-box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    -moz-box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    box-shadow: 0px 10px 102px 26px rgba(117,26,94,1);
    border-radius: 51px 51px 51px 51px;
    -moz-border-radius: 51px 51px 51px 51px;
    -webkit-border-radius: 51px 51px 51px 51px;
    border: 4px solid #29FFBE;
}
/*The end of the code that makes the "floatin" boxes of information*/

/*This is the code for the logo*/
.logo {
  margin-top: -1000px; 
}
/*This is the end of the code for the logo*/

/*This is code for the scroll wheel animation*/
.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  max-width: 50px;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

@keyframes scroll {

  0%, 20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }

}
/*This is the end of the code for the scroll wheel animation*/

/*The code for the nav*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 100%;
}

.underline:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #E830B8;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
/*The end of the code for the nav*/

/*The code that "floats" the information box*/
.animation-element {
  position: relative;
  width: 30%;
  margin: 0% 1.33 2.66% 1.33%;
}

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.subject {
  width: 100%;
  margin: 0% 1.33% 2.66% 1.33%;
  padding: 15px;
}
/*The end of the code that "floats" the information box*/

/*MEDIA QUERIES*/
@media screen and (max-width:700px){
    #fullscreen-bg__video-second {
      height: 400px;
      top: -100%;
    }

    .wrap {
      height: 150px;
      margin-bottom: -5px;
      margin-top: -5px;
      border-top: 
    }

    .wrap .bgone {
      width: 100%;
      height: 100%;
    }

    .wrap .bgtwo {
      width: 100%;
      height: 100%;
    }

    .wrap .bgthree {
      width: 100%;
      height: 100%;
    }

    .wrap .bgfour {
      width: 100%;
      height: 100%;
    }

    nav {
      margin-bottom: 1200px;
    }

    li {
      margin-left: 25%;
      margin-right: 25%;
    }

    a {
      font-size: 20px;
    }

    .logo img{
      width: 100%;
      margin-top: -100px
    }

    .firstfloatingbox {
      margin-left: 0%;
    }

    .leftfloatingbox {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }

    .rightfloatingbox {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }

    .animation-element {
      position: relative;
      width: 88%;
      margin: 0% 1.33 2.66% 1.33%;
    }
}

@media screen and (max-width:500px){
    #fullscreen-bg__video-second {
      height: 300px;
    }

    .logo img{
      margin-top: 0px;
    }

    .firstfloatingbox {
      margin-left: -10px;
    }

    .leftfloatingbox {
      margin-left: -10px;
    }

    .rightfloatingbox {
      margin-left: -10px;
    }

    .animation-element {
      position: relative;
      width: 88%;
      margin: 0% 1.33 2.66% 1.33%;
    }
}